.navBar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  top: 0;
  width: 100vw;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.7;
  transition: all 1s;
  .monogram {
    display: flex;
    margin-left: 1rem;
    color: white;
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
    font-size: 1rem;
    cursor: pointer;
    visibility: hidden;
  }
}

.navBar_black {
  background-color: $sinon-black;
  opacity: 1;
  .monogram {
    visibility: visible;
  }
}

.hamburger {
  width: 1rem;
  color: white;
  display: flex;
  justify-self: right;
  margin-right: 1rem;
  cursor: pointer;
}

.monogram {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}
