@mixin bannerSetup {
  position: absolute;
  max-width: 100%;
}

.page_banner {
  width: 100vw;
  max-height: 80vh;
  height: 40rem;
  position: relative;
  overflow: hidden;

  background-color: $yellow;
  background-image: url(../images/motion_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner_frame {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page_banner_box {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: normal;
  }
  p {
    font-family: 'Poppins';
    color: white;
    @media screen and (max-width: 640px) {
      font-size: 0.7rem;
    }
  }
}

.toolIcon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.2rem;
}

.banner_image {
  @include bannerSetup();
}

.b_top {
  top: 0;
}
.b_bottom {
  bottom: 0;
}
.b_center {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page_content_box {
  background-color: $sinon-black;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.description {
  font-family: 'Poppins';
  color: white;
  @media screen and (max-width: 640px) {
    font-size: 0.7rem;
  }
}
